@CHARSET "UTF-8";

a {
	color: #000
}

a:focus, a:hover {
	text-decoration: none;
	color: #000;
	display: block
}

.arrow:after {
	display: inline-block;
	content: " ";
	height: 10px;
	width: 10px;
	border-width: 2px 2px 0 0;
	border-color: #c7c7cc;
	border-style: solid;
	transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
	position: absolute;
	right: 40px;
}

.font-size12 {
	font-size: 12px;
}

.font-size14 {
	font-size: 14px;
}

.font-size16 {
	font-size: 16px;
}

.black {
	color: #000
}

.blue {
	color: rgba(43, 154, 243, 1);
}

.grey {
	color: rgba(143, 143, 143, 1);
}

.bold {
	font-weight: 550
}

.footer-fixed {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999
}

.mar5 {
	margin: 5px;
}

.mar10 {
	margin: 10px;
}

.mar20 {
	margin: 20px;
}

.mar5-l {
	margin-left: 5px;
}

.mar10-l {
	margin-left: 10px;
}

.mar5-t {
	margin-top: 5px;
}

.mar10-t {
	margin-top: 10px;
}

.mar20-t {
	margin-top: 20px;
}

.mar10-r {
	margin-right: 10px;
}

.pad5 {
	padding: 5px;
}

.pad10 {
	padding: 10px;
}

.pad20 {
	padding: 20px;
}

.radius8 {
	border-radius: 8px;
}

.text-c {
	text-align: center;
}

.text-r {
	text-align: right;
}

.align-c {
	align-items: center;
}

.w-block {
	width: 100%
}

.flex-block {
	flex: 1;
}

.bg-yellow {
	background-color: #F6A500;
}

.bg-grey {
	background-color: #f9f9f9;
}

.bg-white {
	background: #fff
}

.btn {
	border-radius: 7px;
	padding: 10px;
	text-align: center;
}

.input-text {
	width: 100%;
	border: 0px;
	background-color: inherit;
}

}
.header-bar {
	padding: 10px;
	align-items: center;
}

.header-bar .arrow {
	width: 20px;
	height: 20px;
}

.header-bar .title {
	flex: 1;
	color: rgba(16, 14, 10, 1);
	font-size: 18px;
	font-family: PingFangSC-Semibold;
	font-weight: 600;
	color: rgba(16, 14, 10, 1);
	text-align: center;
}

.form-cells .cell {
	background-color: rgba(243, 244, 246, 1);
	border-radius: 7px;
	margin-bottom: 20px;
	padding: 10px;
}

.form-cells .icon {
	width: 14px;
	height: 14px;
	margin: 3px 0 3px 0;
}

.form-cells .label {
	overflow-wrap: break-word;
	color: rgba(16, 14, 10, 1);
	font-size: 14px;
	font-family: PingFangSC-Medium;
	font-weight: 500;
	text-align: left;
	white-space: nowrap;
	display: inherit;
}

.form-cells .text-group {
	overflow-wrap: break-word;
	color: rgba(184, 185, 185, 1);
	font-size: 14px;
	font-family: PingFangSC-Regular;
	font-weight: normal;
	text-align: left;
	white-space: nowrap;
	line-height: 20px;
}